@import "tailwindcss";

:root {
  font-family: var(--raleway-font), sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--raleway-font), Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.line {
  animation: pulseOnce 2.5s ease-in-out forwards,
    breathe 3s ease-in-out 2.5s infinite;
}

@keyframes pulseOnce {
  0% {
    width: 5%;
  }
  40% {
    width: 40%;
  }
  100% {
    width: 15%;
  }
}

@keyframes breathe {
  0% {
    width: 15%;
  }
  50% {
    width: 19%;
  }
  100% {
    width: 15%;
  }
}

.github {
  animation: hoverFloat 2s ease-in-out infinite;
}

@keyframes hoverFloat {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(-2, 2px);
  }
  75% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.project {
  animation: hoverFloat 1.4s ease-in-out infinite;
}

@keyframes hoverFloat {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(-1.5, 2px);
  }
  75% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
