@import "tailwindcss";

:root {
  font-family: var(--raleway-font), sans-serif;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--raleway-font), Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.line {
  animation: pulseOnce 2.5s ease-in-out forwards,
    breathe 3s ease-in-out 2.5s infinite;
}

@keyframes pulseOnce {
  0% {
    width: 5%;
  }
  40% {
    width: 40%;
  }
  100% {
    width: 15%;
  }
}

@keyframes breathe {
  0% {
    width: 15%;
  }
  50% {
    width: 19%;
  }
  100% {
    width: 15%;
  }
}

.github {
  animation: hoverFloat 2s ease-in-out infinite;
}

@keyframes hoverFloat {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(-2, 2px);
  }
  75% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.project {
  animation: hoverFloat 1.4s ease-in-out infinite;
}

@keyframes hoverFloat {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(-1.5, 2px);
  }
  75% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.dotnet {
  animation: bubbleAppear 1s ease-out forwards,
    bubbleBreathe 4s ease-in-out 1.8s infinite;
}

.otherbubbles {
  animation: otherbubblesBreathe 2s ease-in-out infinite;
}

@keyframes otherbubblesBreathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bubbleAppear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    /* opacity: 0.1; */
  }
}

@keyframes bubbleBreathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.ts {
  animation: tsAppear 1.2s ease-out forwards 1.5s,
    tsBreathe 5s ease-in-out 2.8s infinite, tsWander 7s ease-in-out 3s infinite;
  transform-origin: center;
}

@keyframes tsAppear {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes tsBreathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes tsWander {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(20px, -10px);
  }
  40% {
    transform: translate(-15px, 15px);
  }
  60% {
    transform: translate(10px, 20px);
  }
  80% {
    transform: translate(-20px, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.stack,
.hello {
  visibility: hidden;
}

@keyframes githubBreathe {
  0% {
    transform: translate(0, 0) scale(1);
  }
  10% {
    transform: translate(1px, 1px) scale(0.98);
  }
  20% {
    transform: translate(-1px, 1px) scale(0.97);
  }
  30% {
    transform: translate(1px, -1px) scale(0.98);
  }
  40% {
    transform: translate(-1px, -1px) scale(0.99);
  }
  50% {
    transform: translate(0, 0) scale(1);
  }
  60% {
    transform: translate(1px, -1px) scale(1.01);
  }
  70% {
    transform: translate(-1px, 1px) scale(1.02);
  }
  80% {
    transform: translate(1px, 1px) scale(1.01);
  }
  90% {
    transform: translate(-1px, -1px) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.github {
  animation: githubBreathe 6s ease-in-out infinite;
}

@keyframes openBreathe {
  0% {
    transform: translate(0, 0) scale(1);
  }
  10% {
    transform: translate(-1px, 1px) scale(1.01);
  }
  20% {
    transform: translate(1px, -1px) scale(1.02);
  }
  30% {
    transform: translate(-1px, -1px) scale(1.01);
  }
  40% {
    transform: translate(1px, 1px) scale(1);
  }
  50% {
    transform: translate(0, 0) scale(0.99);
  }
  60% {
    transform: translate(-1px, 1px) scale(0.98);
  }
  70% {
    transform: translate(1px, -1px) scale(0.99);
  }
  80% {
    transform: translate(-1px, -1px) scale(1);
  }
  90% {
    transform: translate(0, 1px) scale(1.01);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.open {
  animation: openBreathe 5s ease-in-out infinite;
}

@keyframes floatPulse1 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  10% {
    transform: translate(30px, -20px) scale(1.05);
  }
  20% {
    transform: translate(-25px, 15px) scale(0.97);
  }
  30% {
    transform: translate(40px, 25px) scale(1.02);
  }
  40% {
    transform: translate(-35px, -10px) scale(0.98);
  }
  50% {
    transform: translate(20px, 30px) scale(1.03);
  }
  60% {
    transform: translate(-15px, -25px) scale(0.99);
  }
  70% {
    transform: translate(30px, 20px) scale(1.04);
  }
  80% {
    transform: translate(-20px, 10px) scale(0.98);
  }
  90% {
    transform: translate(15px, -15px) scale(1.02);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.projects_bubble1 {
  animation: floatPulse1 15s ease-in-out infinite;
}

::-webkit-scrollbar {
  width: 12px; /* vertical scrollbar width */
  height: 12px; /* horizontal scrollbar height */
}

::-webkit-scrollbar-track {
  @apply rounded-full bg-transparent;
}

/* the part I drag */
::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b  from-cyan-600 via-cyan-600/60 to-transparent rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-600/30;
  cursor: pointer;
}

@keyframes floatPulse2 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  10% {
    transform: translate(30px, -40px) scale(1.05);
  }
  20% {
    transform: translate(-25px, 10px) scale(0.97);
  }
  30% {
    transform: translate(40px, 25px) scale(1.02);
  }
  40% {
    transform: translate(-35px, -15px) scale(0.98);
  }
  50% {
    transform: translate(30px, 30px) scale(1.03);
  }
  60% {
    transform: translate(-15px, -30px) scale(0.99);
  }
  70% {
    transform: translate(70px, 23px) scale(1.04);
  }
  80% {
    transform: translate(-20px, 22px) scale(0.98);
  }
  90% {
    transform: translate(36px, -10px) scale(1.02);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.projects_bubble2 {
  animation: floatPulse2 30s ease-in-out infinite;
}

@keyframes floatPulse3 {
  0% {
    transform: translate(0, 0) scale(1);
  }
  10% {
    transform: translate(30px, -20px) scale(1.05);
  }
  20% {
    transform: translate(-25px, 15px) scale(0.97);
  }
  30% {
    transform: translate(40px, -25px) scale(1.02);
  }
  40% {
    transform: translate(5px, -10px) scale(0.98);
  }
  50% {
    transform: translate(20px, -45px) scale(1.03);
  }
  60% {
    transform: translate(5px, 65px) scale(0.99);
  }
  70% {
    transform: translate(30px, 20px) scale(1.04);
  }
  80% {
    transform: translate(20px, -10px) scale(0.98);
  }
  90% {
    transform: translate(15px, -15px) scale(1.02);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.projects_bubble3 {
  animation: floatPulse3 20s ease-in-out infinite;
}
